body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 75%;
  color:#000; 
}
ul {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #900;
}
li {
  list-style: none;
  float: left;
}
#login {
  position: absolute; 
  top: 3px; right: 5px;
  padding: 4px;
}
#loginLinkInForm {
  clear: both;
  margin-left: 15px; 
}
#nav, #nav li, #wrapper, ul#prevImg, ul#prevImg li, form, input, select {  
  border: 1px solid #ddd;
}
#nav {
  background-color: #f2f2f2;
  overflow: hidden;
  padding: 5px 10px 5px 2px;
}
#nav li {
  border: none;
  border-left: 1px solid #ccc;
  padding: 0 4px;
}
#results {
  width: 550px;
  margin: 20px 0 0 0;
  float: left;
}
#wrapper {
  float: left;
  overflow: hidden;
}
ul#prevImg {
  width: 240px;
  padding: 5px;
  float: left; 
  margin-left: 20px;
}
ul#prevImg li {
  width: 100px;
  padding: 4px;
  margin: 4px 4px 2px 0;
}
#featImg { 
  margin: 25px auto;
  position: relative;
  background-repeat: no-repeat;
}
#featImg, img, #overlay {
  border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}
h1,h2,h3 {
  clear: both;
  color: #000;
  font-family: 'Montez', cursive;
  background-color: rgba(255, 255, 255, .7); 
  padding: 2px 5px;
  z-index: 800;
}
h1#blogtitle {
  position: absolute;
}
#prevImg h3 {
  font-size: 150%;
  margin: 5px 0;
  padding: 0px;
}
#prevImg h3#other {
  padding-top: 30px;
}
#formWrapper {
  float: left; 
  margin: 20px;
}
form {
  overflow: hidden;
  padding: 10px 20px 10px 0;
  width: 500px;
}
label {
  clear: both;
  float: left;
  margin: 5px;
  width: 170px;
  padding-top: 5px;
}
input, select {
  margin: 5px;
  width: 300px;
  height: 22px;
  float: right;
}
select, .smallInput {
  width: 146px; 
}
input#storeLink {
  width: 20px; 
  height: 20px; 
  float: left; 
  margin: 10px 0 0 15px;  
}
input#create {
  margin-top: -20px;
  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
  border: none;
  height: 30px;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  clear: both;
  float: right; 
  width: 100px;
}

