/* debug */ 
/* 
* {
border: 1px solid blue;
}
*/
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 65%;
  color:#000;   
}
ul {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #900;
}
li {
  list-style: none;
  float: left;
}
.fb-like {
  clear: both;
}
#loginLinkInForm {
  clear: both;
  position: relative; 
  bottom: 35px; left: 0px;
}
#nav, #nav li, #outerWrapper, ul#prevImg, ul#prevImg li, form, input, select {  
  border: 1px solid #ddd;
}
#nav {
  background-color: #f2f2f2;
  overflow: hidden;
  padding: 5px 10px 5px 2px;
}
#login {
  position: absolute; 
  top: 35px; right: 5px;
  padding: 4px;
}
#login div {
}
#footer {
  border-top: 1px solid #ddd;
  padding-top: 5px;
  position: absolute;
  top: 55px; right: 5px;
}
#footer .shareIcon {
}
#nav li, #footer li {
  border: none;
  border-left: 1px solid #ccc;
  padding: 0 4px;
}
#results {
  width: 550px;
  margin: 60px 0 0 0;
  float: left;
}
#innerWrapper {
  margin: 20px auto;
  position: relative;
}
#outerWrapper {
  float: left;
  overflow: hidden;
  margin-bottom: 15px;
}
ul#prevImg {
  width: 230px;
  padding: 5px;
  float: left; 
  margin-left: 20px;
}
ul#prevImg li {
  width: 100px;
  padding: 4px;
  margin: 4px 4px 2px 0;
}
#featImg { 
  position: absolute;
  top: 5px; left: 5px;
  background-repeat: no-repeat;
}
#featImg, img, #overlay {
  border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}
h1,h2,h3 {
  clear: both;
  color: #000;
  font-family: 'Montez', cursive;
  background-color: rgba(255, 255, 255, .7); 
  padding: 5px;
  z-index: 800;
}
h1 {
  font-size: 250%;
}
h1#blogtitle {
  text-transform: capitalize;
  position: absolute;
}
#prevImg h3 {
  font-size: 150%;
  margin: 5px 0;
  padding: 0px;
}
#prevImg h3#other {
  padding-top: 30px;
}
#formWrapper {
  float: left; 
  margin: 40px 20px;
}
form#addImage {
  margin-top: 20px;
  overflow: hidden;
  padding: 5px;
  width: 360px;
}
label {
  clear: both;
  float: left;
  margin: 5px;
  width: 170px;
  padding-top: 5px;
}
input, select {
  margin: 5px;
  width: 160px;
  height: 22px;
  float: right;
}
select, .smallInput {
  width: 76px; 
}
input#storeLink {
  width: 20px; 
  height: 20px; 
  float: left; 
  margin: 10px 0 0 15px;  
}
.btn {
  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
  border: 2px solid #ddd;
  height: 30px;
  width: 120px; 
  margin-right: 25px;
}
input#title {
  width: 158px;
  border: 2px solid #ddd; 
}
input#create {
  margin-top: 20px;
  width: 120px;
}
form#setDimensions {
  border: none;
  position: absolute;
  top: 10px;
  right: 20px;
}
form#setDimensions input, form#setDimensions label {
  clear: none;
  height: 15px;
  float: left;
  width: 30px;
}
form#setDimensions label {
  color: #fff;
  width: 10px;
}
form#setDimensions #submitDimensions{
  height: 18px;
  padding: 0px 3px 3px 3px;
  width: 80px;
  font-size: 85%;
}
a#saveImage {
  padding: 5px 0 0 15px;
  width: 70px;
  height: 18px;
  margin: 0 25px 0 0;
}
#aboutTxt {
  width: 100%;
  height: 32px;
  background-color: #000;
  padding-bottom: 5px;
  font-style: italic;
  font-weight: normal;
  border-bottom: 1px solid #eee;
  position: absolute;
  top: 0px; left: 0px;
  overflow: hidden;
}
#aboutTxt h1 {
  padding: 2px 20px;
  text-align: left;
  background-color: #333;
  border-top: 1px solid #666;
  font-size: 150%; 
}
#aboutTxt h1 a {
  color: #fff;
}
.myimages {
  font-size: 150%;
  position: relative; 
  bottom: 15px; 
  left: 12px;
}
#bgcolor {
  position: relative; 
  top: 0px; left: 10px;
}
#instructions {
  clear: both;
  padding: 15px 0 0 0 ;
  margin-right: 20px;
}
#instructions input, #instructions label {
  height: 10px;
  width: 200px;
  margin: 2px; 
  padding: 1px;
  font-size: 80%;
}
#instructions label {
  padding-left: 25px;
}
#logo {
  position: absolute;
  top: 40px; right: 5px;
}

/* http://stackoverflow.com/questions/25153723/cover-background-image-with-transparent-background-color-full-screen */
body{
    position:relative;
    background: url(../i/wallpaper.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    margin:0
}
body:after{
    position:fixed;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(255,255,255,0.7);
    z-index:-1;
}

.newsection {
	margin-top: 30px;
	border-top: 1px solid #ddd;
}

#more {
	clear: both;
	margin-left: 10px;
}

/* overwrite auto-complete */
.ui-menu .ui-menu-item { margin: 0; padding: 0; zoom: 1; margin: 5px; width: 50px; }
.ui-autocomplete { width: 600px; }

#overlay {
	background-repeat: no-repeat;
}

