body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 65%;
  color:#000;   
}
ul {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #900;
}
li {
  list-style: none;
  float: left;
}
.fb-like {
  position: absolute;
  top: 2px; left: 25px;
}
#loginLinkInForm div {
  padding-top: 25px;
}
#nav, #nav li, #outerWrapper, ul#prevImg, ul#prevImg li, form, input, select {  
  border: 1px solid #ddd;
}
#nav {
  background-color: #f2f2f2;
  overflow: hidden;
  padding: 5px 10px 5px 2px;
}
#login {
  position: absolute; 
  top: 45px; right: 5px;
  padding: 4px;
}
#login div {
  border-bottom: 1px solid #ccc;
}
#footer {
  padding: 2px;
  position: absolute;
  top: 5px; right: 5px;
}
#footer .shareIcon {
  padding-top: 5px;
  border-left: none;
}
#nav li, #footer li {
  border: none;
  border-left: 1px solid #ccc;
  padding: 0 4px;
}
#results {
  width: 550px;
  margin: 20px 0 0 0;
  float: left;
}
#innerWrapper {
  margin: 30px auto;
  position: relative;
}
#outerWrapper {
  float: left;
  overflow: hidden;
  margin-bottom: 40px;
}
ul#prevImg {
  width: 230px;
  padding: 5px;
  float: left; 
  margin-left: 20px;
}
ul#prevImg li {
  width: 100px;
  padding: 4px;
  margin: 4px 4px 2px 0;
}
#featImg { 
  position: absolute;
  top: 5px; left: 5px;
  background-repeat: no-repeat;
}
#featImg, img, #overlay {
  border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
}
h1,h2,h3 {
  clear: both;
  color: #000;
  font-family: 'Montez', cursive;
  background-color: rgba(255, 255, 255, .7); 
  padding: 2px 5px;
  z-index: 800;
}
h1 {
  font-size: 250%;
}
h1#blogtitle {
  position: absolute;
}
#prevImg h3 {
  font-size: 150%;
  margin: 5px 0;
  padding: 0px;
}
#prevImg h3#other {
  padding-top: 30px;
}
#formWrapper {
  float: left; 
  margin: 20px;
}
form#addImage {
  overflow: hidden;
  padding: 5px;
  width: 360px;
}
label {
  clear: both;
  float: left;
  margin: 5px;
  width: 170px;
  padding-top: 5px;
}
input, select {
  margin: 5px;
  width: 160px;
  height: 22px;
  float: right;
}
select, .smallInput {
  width: 76px; 
}
input#storeLink {
  width: 20px; 
  height: 20px; 
  float: left; 
  margin: 10px 0 0 15px;  
}
.button {
  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
  border: none;
  height: 30px;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  width: 100px;
  clear: both;
  float: right; 
}
input#create {
  margin-top: -30px;
}
form#setDimensions {
  position: absolute;
  top: 5px;
  left: 420px;
}
form#setDimensions input, form#setDimensions label {
  clear: none;
  height: 15px;
  float: left;
  width: 60px;
}
form#setDimensions #submitDimensions{
  height: 18px;
  padding: 0px 3px 3px 3px;
  width: 80px;
  font-size: 85%;
}
a#saveImage {
  padding: 5px 0 0 15px;
  width: 70px;
  height: 18px;
  margin: 0 25px 0 0;
}
#progress {
  position: relative;
  top: 8px; 
  left: 15px;
}
.myimages {
  font-size: 150%;
  position: relative; 
  bottom: 15px; 
  left: 12px;
}
#bgcolor {
  position: relative; 
  top: 0px; left: 10px;
}
#instructions {
  clear: both;
  padding: 15px 0 0 0 ;
  margin-right: 20px;
}
#instructions input, #instructions label {
  height: 10px;
  width: 200px;
  margin: 2px; 
  padding: 1px;
  font-size: 80%;
}
#instructions label {
  padding-left: 25px;
}
